@import "/src/assets/scss/variables";
@import "/src/assets/scss/breakpoints";

.base-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .bg-img {
    flex: 1;
    background: url("/assets/pokemon-bg.png") no-repeat center center/cover;
  }

  .clear-bg {
    flex: 0.9;
    background-color: $white;
  }

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;

    @include respond(3xl) {
      margin-top: 3em;
    }

    @include respond(xxl) {
      margin-top: 2em;
    }

    @include respond(xl) {
      margin-top: 2em;
    }

    @include respond(l) {
      margin-top: 3em;
    }

    @include respond(m) {
      margin-top: 2em;
    }

    .logo {
      @include respond(xxl) {
        width: 14em;
      }

      @include respond(xl) {
        width: 13em;
      }

      @include respond(l) {
        width: 12em;
      }

      @include respond(m) {
        width: 10em;
      }
    }
  }

  .contents {
    position: absolute;
    top: 20em;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80vw;

    @include respond(xxl) {
      top: 10em;
    }

    @include respond(xl) {
      top: 11em;
    }

    @include respond(l) {
      top: 10em;
      width: 85vw;
    }

    @include respond(m) {
      top: 9em;
      width: 90vw;
    }
  }
}
