.poke-detail-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;

  .poke-bg {
    height: 20em;
    background-color: #4ad740;

    .poke-header {
      display: flex;
      justify-content: space-between;
      padding: 2em 1.5em;
      color: #fff;
      font-weight: bold;

      h4 {
        font-size: 2rem;
        display: flex;
        align-items: center;

        mat-icon {
          margin-top: 5px;
          margin-left: 5px;
          cursor: pointer;
        }
      }

      h5 {
        font-size: 1.5rem;
      }
    }

    .pokeball-alpha {
      width: 22em;
      position: absolute;
      top: -15px;
      right: 0px;
    }
  }

  .poke-img {
    width: 19em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 6em;
  }

  .poke-content {
    flex: 1;
    background-color: #fff;
    padding-top: 4em;

    .type {
      padding-bottom: 2em;
    }

    .tab-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .tab-content {
        width: 25em;
        overflow: hidden;
        h3 {
          font-size: 1.5rem;
          text-align: center;
          font-weight: bold;
        }

        .bmi {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding-bottom: 1em;

          .bmi-item {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            min-height: 5em;

            &.abilties .value {
              font-size: 1rem;
              display: flex;
              justify-content: center;
            }
          }

          .bmi-item:nth-child(2) {
            border-left: solid 1px #ddd;
            border-right: solid 1px #ddd;
          }

          .value {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.2rem;
            width: 100%;
          }

          small {
            padding-top: 0.5rem;
            text-transform: capitalize;
            color: #878787;
          }
        }

        .description {
          text-align: center;
          font-size: 1rem;
        }

        .stats {
          padding-top: 1em;

          .stats-item {
            display: flex;
            justify-content: start;
            justify-content: end;
            width: 100%;
            height: 2em;

            .label {
              font-weight: bold;
              border-right: solid 1px #838383;
              width: 7em;
            }

            .value {
              width: 3em;
            }

            .label,
            .value {
              margin-right: 1em;
              display: flex;
              align-items: center;
            }

            .range {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
            }
          }
        }

        .evolve {
          padding-top: 1em;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          .evolve-item {
            h6 {
              text-align: center;
            }

            img {
              width: 4em;
              padding: 0 2em;
            }
          }
        }
      }
    }
  }
}

::ng-deep .dynamic-content {
  margin-top: 1em;
  display: flex;
  justify-content: center;

  .mat-tab-header {
    display: none;
  }

  .mat-tab-body-content {
    overflow: hidden;
  }

  .tab {
    z-index: 99;
    position: absolute;
    height: 15em;
    min-width: 2em;
    padding: 0 0.5em;

    &.tab-prev {
      left: 0px;
    }

    &.tab-next {
      right: 0px;
    }
  }
}
