<div class="poke-detail-container">
  <div class="poke-bg">
    <div class="flex justify-between poke-header">
      <h4>Bulbasaur</h4>
      <h5>#001</h5>
    </div>
    <img class="pokeball-alpha" src="/assets/poke-alpha.png" alt="" />
  </div>
  <img class="poke-img" src="/assets/bulba-sample.png" alt="" />
  <div class="poke-content">
    <div class="type flex justify-center">
      <mat-chip-list>
        <mat-chip color="primary" selected>Grass</mat-chip>
        <mat-chip color="accent" selected>Poison</mat-chip>
      </mat-chip-list>
    </div>

    <div class="flex justify-center about">
      <h4>About</h4>
    </div>
  </div>
</div>
