<div class="poke-detail-container">
  <!-- TODO: Convert to directive -->
  <div
    class="poke-bg"
    [ngStyle]="{ 'background-color': getPokeTypeColor(pokemonData.types[0]) }"
  >
    <div class="poke-header">
      <h4>
        {{ pokemonData.name | titlecase }}

        <!-- TODO: Add poke sounds -->
        <!-- <mat-icon>volume_up</mat-icon> -->
      </h4>
      <h5>#{{ id }}</h5>
    </div>
    <img class="pokeball-alpha" src="/assets/poke-alpha.png" alt="" />
  </div>
  <img class="poke-img" [src]="pokemonData.image" alt="" />
  <div class="poke-content">
    <div class="type flex justify-center">
      <poke-type-color [types]="pokemonData.types"></poke-type-color>
    </div>

    <!-- TODO: Create carousel tabs -->
    <div class="carousel-tabs">
      <button class="tab tab-prev" mat-button (click)="tabPrev()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button class="tab tab-next" mat-button (click)="tabNext()">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <mat-tab-group
        [selectedIndex]="tabSelected"
        (selectedIndexChange)="tabSelect($event)"
      >
        <mat-tab>
          <div class="tab-container">
            <div class="tab-content">
              <h3 [ngStyle]="{ color: getPokeTypeColor(pokemonData.types[0]) }">
                About
              </h3>

              <div class="bmi">
                <div class="bmi-item">
                  <div class="value">
                    <mat-icon>fitness_center</mat-icon>
                    {{ pokemonData.weight / 10 }}kg
                  </div>
                  <small>weight</small>
                </div>
                <div class="bmi-item">
                  <div class="value">
                    <mat-icon>format_line_spacing</mat-icon>
                    {{ pokemonData.height / 10 }}m
                  </div>
                  <small>height</small>
                </div>
                <div class="bmi-item abilties">
                  <div
                    *ngFor="let ability of pokemonData.abilities"
                    class="value"
                  >
                    {{ ability | titlecase }}
                  </div>
                  <small>Abilities</small>
                </div>
              </div>
              <div class="description">
                {{ description }}
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <div class="tab-container">
            <div class="tab-content">
              <h3 [ngStyle]="{ color: getPokeTypeColor(pokemonData.types[0]) }">
                Base Stats
              </h3>

              <div class="stats">
                <div *ngFor="let stat of pokemonData.stats" class="stats-item">
                  <div
                    class="label"
                    [ngStyle]="{
                      color: getPokeTypeColor(pokemonData.types[0])
                    }"
                  >
                    {{ getStatAbbr(stat.name) | uppercase }}
                  </div>
                  <div class="value">{{ getStatValue(stat.stat) }}</div>
                  <div class="range">
                    <mat-progress-bar
                      mode="determinate"
                      [value]="getStatValueRange(stat.stat)"
                    ></mat-progress-bar>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <div class="tab-container">
            <div class="tab-content">
              <h3 [ngStyle]="{ color: getPokeTypeColor(pokemonData.types[0]) }">
                Evolution
              </h3>

              <div class="evolve">
                <ng-container
                  *ngFor="let evolve of pokeEvolutions; let i = index"
                >
                  <div class="evolve-item">
                    <img [src]="evolve.image" alt="" />
                    <h6>{{ evolve.name }}</h6>
                  </div>
                  <mat-icon *ngIf="i < pokeEvolutions.length - 1"
                    >arrow_right_alt</mat-icon
                  >
                </ng-container>
              </div>
            </div>
          </div></mat-tab
        >
      </mat-tab-group>
    </div>
  </div>
</div>
