::ng-deep .mat-chip-list {
  .mat-chip {
    font-size: 0.7rem;
    padding: 0.5em 0.8em;
    margin: 2px;
    min-height: 2.5em;
    min-width: 5em;
    justify-content: center;
    color: #fff;
  }
}
