/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-full {
  width: 100%;
}

input {
  color: #181818;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem; //to compensate the margin in between "col"
  margin-right: -0.5rem; //to compensate the margin in between "col"
}

.col {
  flex: 1 1 0%;
  margin: 0.5em;
}

[class^="col-"],
[class*=" col-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.col-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-2 {
  flex: 0 0 16.66%;
  max-width: 16.66%;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.poke-detail-bottom-sheet.mat-bottom-sheet-container {
  overflow: hidden;
  padding: 0;
  max-height: 90vh;
}

.poke-item-card-detail-bs.mat-bottom-sheet-container {
  overflow: hidden;
  padding: 0;
  max-height: 50vh;
}

.search-field {
  margin: 1em 0;
  input,
  input:focus-visible {
    width: 100%;
    background-color: #fff;
    border-radius: 0.2em;
    border: none;
    padding: 0.8em;
    outline: none;
    font-size: 1rem;
  }
}
