@import "assets/scss/breakpoints";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-full {
  width: 100%;
}

input {
  color: #181818;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem; //to compensate the margin in between "col"
  margin-right: -0.5rem; //to compensate the margin in between "col"
}

.col {
  flex: 1 1 0%;
  margin: 0.5em;

  &.pokemon {
    @include respond(3xl) {
      margin: 0;
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }

    @include respond(xxl) {
      margin: 0;
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  
    @include respond(l) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    @include respond(m) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &.poke-items {
    @include respond(xxl) {
      margin: 0;
      flex: 0 0 16.66%;
      max-width: 16.66%;
    }
  
    @include respond(l) {
      margin: 0;
      flex: 0 0 20%;
      max-width: 20%;
    }
  
    @include respond(m) {
      margin: 0;
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.poke-detail-bottom-sheet.mat-bottom-sheet-container {
  overflow: hidden;
  padding: 0;
  max-height: 90vh;

  @include respond(3xl) {
    max-height: 85vh;
  }

  @include respond(xxl) {
    max-height: 95vh;
  }

  @include respond(xl) {
    min-width: 40em;
    max-height: 95vh;
  }

  @include respond(m) {
    min-width: 40em;
    max-height: 95vh;
  }
}

.poke-item-card-detail-bs.mat-bottom-sheet-container {
  overflow: hidden;
  padding: 0;
  max-height: 50vh;
}

.search-field {
  margin: 1em 0;
  input,
  input:focus-visible {
    width: 100%;
    background-color: #fff;
    border-radius: 0.2em;
    border: none;
    padding: 0.8em;
    outline: none;
    font-size: 1rem;
  }
}
