::ng-deep .pokemon-card.mat-card {
  cursor: pointer;
  border-radius: 2px;
  min-height: 17em;
  margin: 0.5em;

  .poke-header {
    padding-bottom: 1em;

    .poke-number {
      text-align: end;
      color: #464646;
      font-weight: bold;
      font-size: 1rem;
    }
  }

  .poke-title,
  .poke-details {
    color: #464646;
  }

  .poke-title {
    margin-top: 0.5em;
  }

  .poke-thumbnail {
    width: 10em;
  }
}
