<mat-card class="pokemon-card" (click)="view()">
  <div class="poke-header">
    <div class="row">
      <div class="col">
        <poke-type-color [types]="pokemonData.types"></poke-type-color>
      </div>
      <div class="col poke-number">
        <span>#{{ id }}</span>
      </div>
    </div>
  </div>
  <mat-card-title>
    <div class="poke-title">{{ pokemonData.name | titlecase }}</div>
  </mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="flex items-center col poke-details">
        {{ description }}
      </div>
      <div class="col flex justify-center">
        <img class="poke-thumbnail" [src]="pokemonData.image" alt="" />
      </div>
    </div>
  </mat-card-content>
</mat-card>
