<!-- TODO: Convert search to component -->
<div class="search-field w-full">
  <input
    type="search"
    [(ngModel)]="searchValue"
    placeholder="Search items..."
  />
</div>
<div class="card-container">
  <div class="row">
    <div
      class="poke-items col"
      *ngFor="let item of pokeItemList | search : searchValue : 'name'"
    >
      <poke-item-card [pokeItemData]="item"></poke-item-card>
    </div>

    <div #endOfList></div>

    <!-- TODO: ADD NOT FOUND MESSAGE -->
  </div>
</div>
