<mat-card class="poke-card-small" (click)="view($event)">
  <div class="poke-header">
    <div class="row">
      <div class="col">
        <mat-chip-list>
          <mat-chip color="primary" selected>Grass</mat-chip>
          <mat-chip color="accent" selected>Poison</mat-chip>
        </mat-chip-list>
      </div>
      <div class="col poke-number">
        <span>#001</span>
      </div>
    </div>
  </div>
  <mat-card-title>
    <div class="poke-title">Bulbasaur</div>
  </mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="flex items-center col poke-details">
        A strange seed was planted on its back at birth. the plant sprouts and
        grows with this pokémon.
      </div>
      <div class="col flex justify-center">
        <img class="poke-thumbnail" src="/assets/bulba-sample.png" alt="" />
      </div>
    </div>
  </mat-card-content>
</mat-card>
